<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJack</title>
    <link rel="stylesheet" href="../blackjack.css" />
    <script src="../blackjack.js"></script>
</head>
<body>
    <div class="container">
        <h1>♠️♥ BlackJack ♦️♣️</h1>
        <div id="dealer">
            <h2>Dealer</h2>
            <img id="hidden">
            <img id="dealer_cards">
        </div>
        <div id="player">
            <h2>Player</h2>
            <img id="player_cards">
        </div>
        <button type="button">HIT</button>
        <button type="button">STAY</button>
    </div>
</body>
</html>